html,
body {
  padding: 0;
  margin: 5em 1em 1em 1em;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    text-align: center;
  background-color: cornflowerblue;
}

.social a {
  padding: 10px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#splash {
  width: 70%;
}

#title {
  font-size: 3em;
  font-weight: 800;
  color: lightgray;
  text-shadow: #474747 3px 5px 2px;
}

/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {...} */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #splash {
    width: 40%;
  }
  #title {
    font-size: 5em;
  }
}
